@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* 🔥 MARQUEE */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 20s linear infinite;
}

/* Buttons */
.btn-primary {
  color: white;
  font-weight: 600;
  background-color: #f47726;
  padding: 10px 20px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  box-shadow: 0 10px 20px rgba(244, 119, 38, 0.5);
  background-color: rgba(229, 90, 4, 0.934);
  transform: translateY(-4px);
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f97316;
  color: #fff;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-secondary:hover {
  background-color: #ea580c;
  transform: translateY(-0.25rem);
}
